
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

.roboto-mono-Roboto {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

button, input, a, p {
      font-family: "Roboto Mono", monospace;
      padding: 0;
      border: none;
      color: inherit;
      outline:0;
      background-color: transparent;
      cursor: pointer;
      text-decoration: none;
      border-radius: 0;
}

p{
    text-align: center;
}

body{
    padding: 0;
    margin: 0;
    width: 100%;
    min-height: 100%;
    display: grid;
    grid-template-rows: 40vh 55vh;
}

.form-grid{
    display: grid;
    grid-template-rows: 10vh 10vh 10vh 10vh;
    grid-template-columns: 100%;
    background-color: var(--tg-theme-bg-color);
    width: 100%;
    padding-left: 20px;   
    padding-right: 20px;  
    box-sizing: border-box;
}

.form-grid-row{
    display: grid;
    grid-template-rows: 2vh 6vh;
    grid-template-columns: 1fr;
    width: 100%;

}

.form-grid-row-caption{
    font-family: "Roboto Mono", monospace;
    font-size: 1.5vh;
    display: flex;
    align-items: center;
    color: var(--tg-theme-text-color);   
    padding-left: 5px;   
    box-sizing: border-box;
}

.form-grid-row-main-input{
    font-family: "Roboto Mono", monospace;
    font-size: 2.5vh;
    background-color: #FFF;
    width:  100%;
    border-radius: 10px;
    padding-left: 5px;    
    box-sizing: border-box;
}


.form-grid-row-mini-input{
    font-family: "Roboto Mono", monospace;
    font-size: 2vh;
    background-color: #FFF;
    width: 100%;
    border-radius: 10px;
    padding-left: 5px;   
    box-sizing: border-box;
}



.form-grid-row-splitted{
    display: grid;
    grid-template-columns: 40% 20% 40%;
}

.form-input-block{
    display: grid;
    grid-template-rows: 2vh 6vh;
}

.map-container{
    background-color:var(--tg-theme-bg-color);
}

.map{
    width: 100%;
    height: 100%;
}

.map-pin{
    position: absolute;
    top: 60%;
    left:50%;
    z-index: 1000;
    height: 10vh;
    width: 10vh;
}

.map-pin-circle{
    background: var(--tg-theme-bg-color);
    border-radius: 4rem;
    content: "";
    height: 3vh;
    width: 3vh;
    left: 0.8vh;
    position: absolute;
    top: 1px;
    transition: transform 300ms;
    z-index: 1001;
}

.map-pin-stick{
    background: #111111;
    border-radius: 1.5rem;
    content: "";
    height: 3vh;
    width: 3vh;
    left: 2vh;
    position: absolute;
    top: 2vh;
    transition: transform 300ms;
    width: 0.5vh;
}


@media (max-height: 500px) {


.map-container{
    visibility: collapse;
}
.map{
    visibility: collapse;
}

.map-pin{
    visibility: collapse;
}

body{
    grid-template-rows: 80vh;
}

.form-grid{
    grid-template-rows: 20vh 20vh 20vh 20vh;

}

.form-input-block{
    grid-template-rows: 4vh 12vh;
}

.form-grid-row{
    grid-template-rows: 4vh 12vh;
}

.form-grid-row-caption{
    font-size: 3vh;
}

.form-grid-row-main-input{
    font-size: 6vh;

}

.form-grid-row-mini-input{
    font-size: 4vh;

}

}
