

  @font-face { 
    font-family: 'Proxima Nova'; 
    src: url('proximanova_regular.ttf')  format('truetype'); /* Только если нужна поддержка старых Android, иначе закомментировать */ 
    font-weight: normal; 
    font-style: normal; 
  }


body{
    height: 100%;
    width: 100%;
    font-family: Proxima Nova;
    font-weight: Regular;
    font-size: 16px;
    padding: 0;
    margin: 0;; 
    position: relative;
    padding-top: 80px;
}

a{
    color: #8B9DE6;
    font-size: 16px;
}

a:hover{
    color:#4D687D;
}
a:active{
    color:#4D687D;
    transition: color 0s 
}

.header{
    position:fixed; top:0;
    background-color: #FFF;
    width: 100%;
    height: 80px;
    font-family: Proxima Nova;
    font-weight: Regular;
    font-size: 14px;
    display: flex;
    box-shadow: 0 5px 10px 5px rgba(175, 175, 175, 0.5);
    flex-direction: row;
    justify-content: space-between;
    padding-left: 75px;
    padding-right: 75px;
    box-sizing: border-box;
    align-items: center;
    line-height: 10px;
    z-index: 1000;
}

.logotype{
    display: flex;
    flex-direction: row;
}

.logotype-text{
    font-size: 12px;
    line-height: 8px;
    color: #727374;
}

.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    color: #8B9DE6;
}

.mini-menu{
    display: flex;
    flex-direction: row;
    padding-left: 75px;
    color: #8B9DE6;
    gap:5px;
    font-size: 14px;
}

.main-search-block{
    padding-left: 75px;
    padding-right: 75px;
}

.main-search-block-a{
    font-size: 20px;
    color:#8B9DE6;
    line-height: 5px;

}

.main-search-block-p{
    font-size: 12px;
    color:#727374;
    line-height: 5px;
}



.block-search{
    display: flex;
    flex-direction:row ;
    align-items: center;
    justify-content: space-between;
}

input{

    width:100%;
    border: 0;
    border-bottom: 1px solid #8B9DE6;
    margin-right: 20px;
    color:#727374;
    font-size: 20px;
    
}
button{
    width:220px;
    height: 40px;
    background-color: #8B9DE6;
    color:#FFF;
    text-align: center;
    border:0;
    border-radius: 20px;
}

.nav-button{
    width: 36px;
    height: 36px;
    border: 0;
    border-radius: 100%;
    font-size: 20px;
}

.footermenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    padding-left:75px;
    padding-right: 75px;
    box-sizing: border-box;
    margin-top: 365px;
}

.footer-footermenu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    padding-left:75px;
    padding-right: 75px;
    box-sizing: border-box;
    margin-top: 25px;
    align-items: center;
    margin-bottom: 0px;
}

.menubar{
    visibility: collapse;
}

.bigsearch{
    color:#F3F3F8; 
    font-size:144px;
    line-height: 0px; 
    vertical-align: top; 
    margin-top:  75px; 
    padding: 0; 
    margin-left: 0;
    margin-right: 0;
    z-index: -10;
}

.titlesearch{
    position: absolute; 
    font-size: 34px; 
    color:#122861; 
    margin: 5px;
}

.footermenumobile{
    
    display: none;

}
@media (max-width: 1215px) {

    .header{
        padding-left: 20px;
        padding-right: 20px;
        height: 200px;
        box-shadow: none;
        align-items: center;
        width: 100%;
        box-sizing: border-box;
    }

    .navigation{
        visibility: collapse;
    }

    .logotypeimg{
        width:120px;
        height:100px;
    }

    .logotype{
        
        p{
            font-size: 32px;
            margin:20px;
            
        }
    }

    .menubar{
        visibility: visible;
        width:90px;
        height:46px;
    }

    .mini-menu{
        margin-top: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }

    .bigsearch{
        font-size: 140px;
    }

    .titlesearch{
        font-size: 36px;
    }

    .main-search-block{
        padding-left: 20px;
        padding-right: 20px;
    }

    .main-search-block-a{
        font-size: 36px;
        color:#8B9DE6;
        line-height: 44px;
    }

    .main-search-block-p{
        font-size: 34px;
        color:#727374;
        line-height: 35px;
    }

    .searchbutton{
        display: none;
    }

    input{
        font-size: 36px;
    }

    .vector{
        display: none;
    }

    .footer-footermenu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width:100%;
        padding-left:20px;
        padding-right: 20px;
        box-sizing: border-box;
        margin-top: 25px;
        align-items: center;
        margin-bottom: 0px;
    }

    .nav-button{
        width: 62px;
        height: 62px;
        border: 0;
        border-radius: 100%;
        font-size: 36px;
    }
    

    .footermenu{
        display: none;
    }

    .footermenumobile{
        display: flex;
        margin-top: 50px;
        flex-direction: column;
        width:100%;
        padding-left:20px;
        padding-right: 20px;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
        text-align: center;
    }


 }